html::after {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
}

header {
    text-align: center;
    height: 100px;
    background-color: #b3661f;
    margin-bottom: 70px;
    line-height: 100px;
}
   #longparagraph{
       background-color: #b3661f;
       margin-top: 70px;
       line-height: 40px;

    }
    #ViewResults{
        margin-left: 45%;
    }
    .paragraph{
        margin-left: 35%;
        font-weight: 500;
        font-size: 100%;
        font-style:inherit;
        color: rgb(148, 67, 37);
    }


    #items {
        width: 820px;
        margin: auto;
        margin-bottom: 30px;
    }
    main img {
        width: calc(800px / 3);
        margin: 0px;
        height: 250px;
        border: 1px solid #df4823;
        
    }

    canvas 
    {
     width: 600px;
     height: 600px;
     margin: auto;
    }
    
