/* body{
    margin: 0;
    padding: 0;

}

main div{
    position: relative;
    width:90%;
   margin: 0% auto;
}
.background{
    width: 100%;
}
.bushead{
    position: absolute;
    top: 3%;
    left: 40%;
    font-size: 500%;
    color: white;
    background-color: rgb(56, 90, 104);
    font-family:cursive
}
.paragraph{
    position: absolute;
    display: block;
    
    top:auto;
    left: 56%;
    font-size: 150%;
    color: white;
    background-color:orangered;
    font-family:fantasy
}

#longparagraph{
    position: absolute;
    top: 122%;
    left:35%;
    font-size: 100%;
    width:60%;
    height: auto;
    color: white;
    background-color:rgb(211, 129, 100);
    

}

#items{
    position: absolute;
    /* display: grid;
    grid-template-columns: 100px 100px 100px; */
    /* margin-left: auto;
    top: 90%;
    left: 56%;
    z-index: 1;
    
}
#right{
    position: absolute;
    top: 50%;
    margin: left 50px;;
    z-index: 1;
}

#left{
    position: absolute;
    top: 50%;
    margin-right: 50%;
    z-index: 1;
}
 */ 
